@{
  ViewData["Title"] = "Issue Tracker";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
</head>
<body>
<div class="h-screen flex flex-col">
  <header class="border-b text-slate-700 p-2 pr-3">
    <nav>
      <div class="flex justify-between">
        <ul id="nav-left" class="flex items-center space-x-4">
          <li>
            <a asp-controller="Home" asp-action="Index" class="flex items-center rounded-md hover:bg-slate-200 px-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#BB271A">
                  <path d="M480-186.67q70 0 119.67-49.33 49.66-49.33 49.66-119.33V-520q0-70-49.66-119.33Q550-688.67 480-688.67t-119.67 49.34Q310.67-590 310.67-520v164.67q0 70 49.66 119.33Q410-186.67 480-186.67ZM400-320h160v-66.67H400V-320Zm0-168.67h160v-66.66H400v66.66Zm80 51.34h.33-.33.33-.33.33-.33.33-.33ZM480-120q-65 0-120.83-31.33-55.84-31.34-84.5-88.67H160v-66.67h89.33q-5.66-24-5.83-48.33-.17-24.33-.17-49H160v-66.67h83.33q0-26 .5-51.66.5-25.67 6.84-51H160V-640h117.33q14-26.33 35.17-47t47.5-35l-72.67-72.67L332.67-840 424-748.67q28-9.66 56.67-9.66 28.66 0 56.66 9.66l92-91.33 45.34 45.33L602-722q26.33 14.33 46.83 35.17Q669.33-666 684.67-640H800v66.67h-90.67q7 25.33 6.84 51-.17 25.66-.17 51.66h84V-404h-84q0 24.67.17 49 .16 24.33-5.5 48.33H800V-240H686q-28 58-84.17 89-56.16 31-121.83 31Z"/>
                </svg>
              </span>
              <span class="font-medium text-xl text-black">IssueTracker</span>
            </a>
          </li>
          @if (SignInManager.IsSignedIn(User))
          {
            <li>
              @await Component.InvokeAsync("ProjectsDropdown")
            </li>
            <li>
              <a asp-controller="Issues" asp-action="Create" class="ml-2 text-sm p-2 font-medium rounded-md text-white bg-blue-700 hover:bg-blue-800">
                Utwórz
              </a>
            </li>
          }
        </ul>

        <ul id="nav-right" class="flex items-center space-x-4">
          @if (SignInManager.IsSignedIn(User))
          {
            <li>
              <a asp-controller="Accounts" asp-action="Logout" class="text-sm px-2 py-1 font-medium rounded-md hover:bg-slate-200">
                Wyloguj
              </a>
            </li>
          }
          else
          {
            <li>
              <a asp-controller="Accounts" asp-action="Register" class="text-sm px-3 py-2 font-medium rounded-md text-white bg-blue-700 hover:bg-blue-800">
                Zacznij korzystać bezpłatnie
              </a>
            </li>
            <li>
              <a asp-controller="Accounts" asp-action="Login" class="text-sm px-2 py-1 font-medium rounded-md hover:bg-slate-200">
                Zaloguj
              </a>
            </li>
          }
        </ul>

      </div>
    </nav>
  </header>

  <main class="overflow-y-scroll m-5 no-scrollbar h-full text-slate-700">
    @RenderBody()
  </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>